@import url(/css/base/fonts.css);

@import url(/css/base/nule.css);

body {
  background-image: url(/img/);
  background-color: rgba(0, 0, 0, 0.87);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
  font-family: Squad, sans-serif;
  margin-top: 0px;
}

.container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 50px;
  display: block;
}

li {
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

a {
  font-family: Ubuntu, sans-serif;
  font-weight: 600;
  font-size: 40px;
  background-color: rgb(124, 124, 124);
  color: #fff;
  padding: 20px 25px;
  border-radius: 50px;
}