@import "../other/mixin";

.growfy {
   &__info {
      @include adaptiv-font(16, 12);
      line-height: 24px;
      margin: 30px 0 34px 0;
   }

   .growfy__name {}

   .growfy__sochial {
      display: flex;
      align-items: center;
   }
}

.pages {
   .pages__bar {}

   .pages__text {
      a {
         color: #9C9C9C;
         max-width: max-content;
         @include adaptiv-font(16, 12);
      }
   }

   .pages__text:not(:last-child) {
      margin-bottom: 14px;
   }

   .pages__text.title {
      @include adaptiv-font(20, 14);
      line-height: 24px;
      letter-spacing: 1px;
      margin-bottom: 30px;
   }
}

.upages {
   .upages__bar {}

   .upages__text {
      a {
         color: #9C9C9C;
         max-width: max-content;
         @include adaptiv-font(16, 12);
      }
   }

   .upages__text:not(:last-child) {
      margin-bottom: 14px;
   }

   .upages__text.title {
      @include adaptiv-font(20, 14);
      line-height: 24px;
      letter-spacing: 1px;
      margin-bottom: 30px;
   }
}

.email {
   &__title.title {
      @include adaptiv-font(20, 14);
      line-height: 24px;
      letter-spacing: 1px;
      margin-bottom: 30px;
   }

   &__subtitle {
      margin-bottom: 30px;
   }

   &__send {}

   &__input {
      background-color: rgba(0, 0, 0, 0);
      @include adaptiv-font(16, 12);
      border: solid 1px #81818b31;
      border-radius: 50px;
      max-width: 180px;
      padding: 13px 20px;
   }

   &__button {
      margin-left: 16px;
   }
}

.footer__holder {
   color: #9C9C9C;
}

.footer__main {
   display: flex;
   justify-content: space-between;
   align-items: start;
   margin-top: 50px;
}

.footer__growfy {
   max-width: 360px;
}

.footer__year {
   display: flex;
   justify-content: center;
   border-top: solid 1px #81818b21;
   @include adaptiv-font(14, 11);
   padding-top: 40px;
   padding-bottom: 25px;
   margin-top: 60px;
}

.footer__page {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 300px;
   margin: 0 auto;
}

.footer__pages {
   margin-right: 75px;
}

.footer__upages {}

.footer__email {}

@media (max-width:1100px) {
   .footer__main {
      display: block;
   }

   .footer__growfy {
      max-width: 500px;
      margin: 0 auto;
      margin-bottom: 50px;
   }

   .footer__page {
      justify-content: space-around;
      max-width: 500px;
      margin-bottom: 50px;
   }

   .footer__pages {
      margin-right: 0px;
   }

   .email__title,
   .email__subtitle,
   .email__send {
      display: flex;
      justify-content: center;
   }

   .upages__text,
   .pages__text {
      display: flex;
      justify-content: center;
   }
}